################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Challenges/obj
/Challenges/bin/Debug/net8.0
